In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
actor_list1 = pd.read_csv('/content/drive/MyDrive/final_actor1.csv')
actor_list2 = pd.read_csv('/content/drive/MyDrive/final_actor2.csv')
actor_list3 = pd.read_csv('/content/drive/MyDrive/final_actor3.csv')
actor_list4 = pd.read_csv('/content/drive/MyDrive/final_actor4.csv')
actor_list5 = pd.read_csv('/content/drive/MyDrive/final_actor5.csv')
director_list1 = pd.read_csv('/content/drive/MyDrive/final_director.csv')
director_list2 = pd.read_csv('/content/drive/MyDrive/final_director2.csv')
producer_list1 = pd.read_csv('/content/drive/MyDrive/final_producer1.csv')
producer_list2 = pd.read_csv('/content/drive/MyDrive/final_producer2.csv')
publisher_list1 = pd.read_csv('/content/drive/MyDrive/final_publisher1.csv')
publisher_list2 = pd.read_csv('/content/drive/MyDrive/final_publisher2.csv')

In [ ]:
actor_list=pd.concat([actor_list1,actor_list2,actor_list3,actor_list4,actor_list5])
director_list = pd.concat([director_list1,director_list2])
producer_list = pd.concat([producer_list1,producer_list2])
publisher_list = pd.concat([publisher_list1,publisher_list2])

In [ ]:
producer_list = pd.concat([producer_list1,producer_list2])

In [ ]:
del actor_list['Unnamed: 0']

In [ ]:
actor_list

     peopleCd  ...                                         filmoNames
0    10053802  ...  소리도 없이|#살아있다|국가부도의 날|버닝|좋아해줘|사도|베테랑|우아한 거짓말|우리...
1    20182415  ...                                   악몽|0.0MHz|세이빙 산타
2    20190889  ...                                    1789, 바스티유의 연인들
3    10005277  ...  태백권|지푸라기라도 잡고 싶은 짐승들|계절과 계절 사이|증인|안시성|1987|불한당...
4    10005276  ...  모가디슈|바이러스(가제)|미성년|암수살인|1987|남한산성|당신, 거기 있어줄래요|...
..        ...  ...                                                ...
602  10000619  ...              박화영|히야|남자가 사랑할 때|청포도 사탕: 17년 전의 약속|통증
603  10030258  ...                                            실종2|히어로
604  20125825  ...  킬링 로맨스 (가제)|외계인(가제)|블랙머니|극한직업|부라더|침묵|조작된 도시|달빛...
605  20199635  ...  히트맨|미친도시|오목소녀|오장군의 발톱|1급기밀|희생부활자|개를 훔치는 완벽한 방법...
606  10042830  ...  힘을 내요, 미스터 리|너의 결혼식|잡아야 산다|베테랑|슬로우 비디오|신의 한 수|...

[3250 rows x 5 columns]

In [ ]:
actor_list['filmoNames']=actor_list['filmoNames'].map( lambda x : x.split('|'))

In [ ]:
actor_list

     peopleCd  ...                                         filmoNames
0    10053802  ...  [소리도 없이, #살아있다, 국가부도의 날, 버닝, 좋아해줘, 사도, 베테랑, 우아...
1    20182415  ...                               [악몽, 0.0MHz, 세이빙 산타]
2    20190889  ...                                  [1789, 바스티유의 연인들]
3    10005277  ...  [태백권, 지푸라기라도 잡고 싶은 짐승들, 계절과 계절 사이, 증인, 안시성, 19...
4    10005276  ...  [모가디슈, 바이러스(가제), 미성년, 암수살인, 1987, 남한산성, 당신, 거기...
..        ...  ...                                                ...
602  10000619  ...        [박화영, 히야, 남자가 사랑할 때, 청포도 사탕: 17년 전의 약속, 통증]
603  10030258  ...                                         [실종2, 히어로]
604  20125825  ...  [킬링 로맨스 (가제), 외계인(가제), 블랙머니, 극한직업, 부라더, 침묵, 조작...
605  20199635  ...  [히트맨, 미친도시, 오목소녀, 오장군의 발톱, 1급기밀, 희생부활자, 개를 훔치는...
606  10042830  ...  [힘을 내요, 미스터 리, 너의 결혼식, 잡아야 산다, 베테랑, 슬로우 비디오, 신...

[3250 rows x 5 columns]

In [ ]:
actor_list=actor_list[actor_list['repRoleNm'].isin(['배우'])]

In [ ]:
actor_list['filmoNames']

0      [소리도 없이, #살아있다, 국가부도의 날, 버닝, 좋아해줘, 사도, 베테랑, 우아...
1                                   [악몽, 0.0MHz, 세이빙 산타]
4      [모가디슈, 바이러스(가제), 미성년, 암수살인, 1987, 남한산성, 당신, 거기...
5      [균, 열두 번째 용의자, 사라진 밤, 1급기밀, 궁합, 살인의뢰, 아빠를 빌려드립...
6      [서태지밴드 콘서트투어 '콰이어트나이트', 이티피 페스티벌 08X09 서태지, 서태...
                             ...
602          [박화영, 히야, 남자가 사랑할 때, 청포도 사탕: 17년 전의 약속, 통증]
603                                           [실종2, 히어로]
604    [킬링 로맨스 (가제), 외계인(가제), 블랙머니, 극한직업, 부라더, 침묵, 조작...
605    [히트맨, 미친도시, 오목소녀, 오장군의 발톱, 1급기밀, 희생부활자, 개를 훔치는...
606    [힘을 내요, 미스터 리, 너의 결혼식, 잡아야 산다, 베테랑, 슬로우 비디오, 신...
Name: filmoNames, Length: 3073, dtype: object

In [ ]:
movie_list=pd.read_csv('/content/drive/MyDrive/final_list.csv')

In [ ]:
del movie_list['Unnamed: 0']
del movie_list['directors']
del movie_list['actors']
del movie_list['companys']
del movie_list['제작연도']
del movie_list['감독']
del movie_list['제작사']

In [ ]:
movie_list.index= movie_list['Unnamed: 0.1']

In [ ]:
del movie_list['Unnamed: 0.1']

In [ ]:
movie_list

                 audiCnt  ...                                          showTypes
Unnamed: 0.1              ...
#살아있다            1903641  ...  [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...
0.0MHz            137232  ...   [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}]
1789, 바스티유의 연인들     3839  ...  [{'showTypeGroupNm': '필름', 'showTypeNm': '필름'}...
1987             7231224  ...  [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...
1급기밀              217735  ...  [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...
...                  ...  ...                                                ...
히야                 21405  ...   [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'}]
히어로                22902  ...  [{'showTypeGroupNm': '필름', 'showTypeNm': '필름'}...
히트                110057  ...  [{'showTypeGroupNm': '필름', 'showTypeNm': '필름'}...
히트맨              1929804  ...  [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...
힘을 내요, 미스터 리     1180258  ...  [{'showTypeGroupNm': '2D', 'showTypeNm': '디지털'...

[659 rows x 5 columns]

In [ ]:
movie_info=pd.read_csv('/content/drive/MyDrive/영화별 정보.CSV')

In [ ]:
movie_info.index = movie_info['title']

In [ ]:
del movie_info['title']

In [ ]:
movie_list=movie_list.join(movie_info, how='left')

In [ ]:
movie_list

                 audiCnt   movieCd  ...  prod_2_code  prod_2_name
#살아있다            1903641  20193069  ...   20204221.0  (주)퍼스펙티브픽쳐스
0.0MHz            137232  20188144  ...          NaN          NaN
1789, 바스티유의 연인들     3839  20140121  ...          NaN          NaN
1987             7231224  20170590  ...          NaN          NaN
1급기밀              217735  20168161  ...   20154688.0     (주)미디어모굴
...                  ...       ...  ...          ...          ...
히야                 21405  20161722  ...   20169148.0    (주)더재미팩토리
히어로                22902  20136059  ...   20139977.0    (주)프리윌컴퍼니
히트                110057  20112221  ...          NaN          NaN
히트맨              1929804  20192101  ...          NaN          NaN
힘을 내요, 미스터 리     1180258  20187322  ...   20160941.0   (주)덱스터스튜디오

[667 rows x 22 columns]

In [ ]:
actor_list

     peopleCd  ...                                         filmoNames
0    10053802  ...  [소리도 없이, #살아있다, 국가부도의 날, 버닝, 좋아해줘, 사도, 베테랑, 우아...
1    20182415  ...                               [악몽, 0.0MHz, 세이빙 산타]
4    10005276  ...  [모가디슈, 바이러스(가제), 미성년, 암수살인, 1987, 남한산성, 당신, 거기...
5    10004396  ...  [균, 열두 번째 용의자, 사라진 밤, 1급기밀, 궁합, 살인의뢰, 아빠를 빌려드립...
6    10035656  ...  [서태지밴드 콘서트투어 '콰이어트나이트', 이티피 페스티벌 08X09 서태지, 서태...
..        ...  ...                                                ...
602  10000619  ...        [박화영, 히야, 남자가 사랑할 때, 청포도 사탕: 17년 전의 약속, 통증]
603  10030258  ...                                         [실종2, 히어로]
604  20125825  ...  [킬링 로맨스 (가제), 외계인(가제), 블랙머니, 극한직업, 부라더, 침묵, 조작...
605  20199635  ...  [히트맨, 미친도시, 오목소녀, 오장군의 발톱, 1급기밀, 희생부활자, 개를 훔치는...
606  10042830  ...  [힘을 내요, 미스터 리, 너의 결혼식, 잡아야 산다, 베테랑, 슬로우 비디오, 신...

[3073 rows x 5 columns]

In [ ]:
count_df = pd.DataFrame()
for film, actor in zip(actor_list['filmoNames'],actor_list['peopleNm']):
  count = 0
  for index in film:
    try:
      counts=movie_list.loc['{}'.format(index)]['audiCnt']
      count += counts
    except:
      pass
  df = pd.DataFrame({'actor':[actor],'counts':[count]}, columns = ['actor','counts'])
  count_df=pd.concat([count_df,df],ignore_index = True)

In [ ]:
count_df

     actor    counts
0      유아인  35233342
1      정은지    137232
2      김윤석  53360415
3      김상경  11176874
4      서태지     13714
...    ...       ...
3068   강민아   2700560
3069   배호근     22902
3070   이하늬  33304687
3071   이지원   2472267
3072   안길강  29911874

[3073 rows x 2 columns]

In [ ]:
director_list['repRoleNm']

0            감독
1            감독
2            감독
3            감독
4            감독
        ...
42          조감독
43           감독
44    VFX 매니지먼트
45           감독
46    VFX 매니지먼트
Name: repRoleNm, Length: 746, dtype: object

In [ ]:
director_list=director_list[director_list['repRoleNm'].isin(['감독','조감독'])]

In [ ]:
director_list['filmoNames']=director_list['filmoNames'].map( lambda x : x.split('|'))

In [ ]:
count_dir = pd.DataFrame()
for film, director in zip(director_list['filmoNames'],director_list['peopleNm']):
  count = 0
  for index in film:
    try:
      counts=movie_list.loc['{}'.format(index)]['audiCnt']
      count += counts
    except:
      pass
  df = pd.DataFrame({'director':[director],'counts':[count]}, columns = ['director','counts'])
  count_dir=pd.concat([count_dir,df],ignore_index = True)

In [ ]:
count_dir

          director   counts
0              조일형  1903641
1              유선동   524641
2              정성복    10121
3              장준환  9625015
4              홍기선   217735
..             ...      ...
655            고문안    93926
656  마우리시오 드 라 오르타    70747
657            안정민     7068
658            석진욱    28800
659            김래경    23152

[660 rows x 2 columns]

In [ ]:
producer_list

     Unnamed: 0  ...                                         filmoNames
0             0  ...  #살아있다,가장 보통의 연애,돌멩이,국가부도의 날,골든슬럼버,마스터,검은 사제들,두...
1             1  ...                                             0.0MHz
2             2  ...                                               1987
3             3  ...                        시인의 사랑,독고,1급기밀,원라인,살인의뢰,몽타주
4             4  ...  딜쿠샤,26년,순정만화,노크:낯선 자들의 방문,둠스데이:지구 최후의 날,미스트,데스...
..          ...  ...                                                ...
231         231  ...  피랍,국제수사,비상선언,사흘,싱크홀,야차,이상한 나라의 수학자,휴가,남산의 부장들,...
232         232  ...                            흥부: 글로 세상을 바꾼 자,날, 보러와요
233         233  ...  기생충,가려진 시간,희생부활자,표적,5백만불의 사나이,커플즈,방자전,마더 앤 차일드...
234         234  ...                                                 히야
235         235  ...                                                히어로

[865 rows x 7 columns]

In [ ]:
producer_list['filmoNames']=producer_list['filmoNames'].map( lambda x : x.split(','))

In [ ]:
producer_list

     Unnamed: 0  ...                                         filmoNames
0             0  ...  [#살아있다, 가장 보통의 연애, 돌멩이, 국가부도의 날, 골든슬럼버, 마스터, 검...
1             1  ...                                           [0.0MHz]
2             2  ...                                             [1987]
3             3  ...                 [시인의 사랑, 독고, 1급기밀, 원라인, 살인의뢰, 몽타주]
4             4  ...  [딜쿠샤, 26년, 순정만화, 노크:낯선 자들의 방문, 둠스데이:지구 최후의 날, ...
..          ...  ...                                                ...
231         231  ...  [피랍, 국제수사, 비상선언, 사흘, 싱크홀, 야차, 이상한 나라의 수학자, 휴가,...
232         232  ...                        [흥부: 글로 세상을 바꾼 자, 날,  보러와요]
233         233  ...  [기생충, 가려진 시간, 희생부활자, 표적, 5백만불의 사나이, 커플즈, 방자전, ...
234         234  ...                                               [히야]
235         235  ...                                              [히어로]

[865 rows x 7 columns]

In [ ]:
count_produ = pd.DataFrame()
for film, producer in zip(producer_list['filmoNames'],producer_list['companyNm']):
  count = 0
  for index in film:
    try:
      counts=movie_list.loc['{}'.format(index)]['audiCnt']
      count += counts
    except:
      pass
  df = pd.DataFrame({'producer':[producer],'counts':[count]}, columns = ['producer','counts'])
  count_produ=pd.concat([count_produ,df],ignore_index = True)

In [ ]:
count_produ

       producer     counts
0         영화사 집   34293935
1     (주)제이엠컬쳐스     137232
2       (주)우정필름    7231224
3      (주)미인픽쳐스    3603907
4     영화사청어람(주)    2963549
..          ...        ...
860      (주)쇼박스  193906856
861   (주)발렌타인필름     415845
862  (주)바른손이앤에이   14257873
863   (주)더재미팩토리      21405
864   (주)프리윌컴퍼니      22902

[865 rows x 2 columns]

In [ ]:
publisher_list['filmoNames']=publisher_list['filmoNames'].map( lambda x : x.split(','))

In [ ]:
publisher_list

    Unnamed: 0  ...                                         filmoNames
0            0  ...  [아이, 탑건: 매버릭 , 삼진그룹 영어토익반, 기적, 모가디슈, 보스턴 1947,...
1            1  ...  [O.J. 심슨 사건 파일, 제인의 썸머, 호텔 레이크, 더 터닝 , 요가학원 : ...
2            2  ...  [사일런스(가제), 도굴, 다만 악에서 구하소서 파이널컷, 담보, 더 터닝 , 발신...
3            3  ...  [이웃사촌, 애비규환, 극장판 미니특공대: 햄버거괴물의 습격, 나를 구하지 마세요,...
4            4  ...  [서태지밴드 콘서트투어 '콰이어트나이트', 이티피 페스티벌 08X09 서태지, 서태...
..         ...  ...                                                ...
46          46  ...  [사냥의 시간, 페뷸러스, 야구소녀, 타짜: 원 아이드 잭, 레드슈즈, 트윈 머더스...
47          47  ...  [파티마의 기적 , 무협강호, 포스 오브 네이쳐, 범털, 아카이브, 오랜만이다, 가...
48          48  ...  [빅풋 주니어2: 패밀리가 떴다, 시크릿 가든, 마이 스파이, 커넥트, 극장판 포켓...
49          49  ...  [레슬러, 콰이어트 플레이스, 지금 만나러 갑니다, 흥부: 글로 세상을 바꾼 자, ...
50          50  ...  [애드 아스트라, 엑스맨: 다크 피닉스, 더 페이버릿: 여왕의 여자, 알리타: 배틀...

[644 rows x 7 columns]

In [ ]:
count_publi = pd.DataFrame()
for film, publisher in zip(publisher_list['filmoNames'],publisher_list['companyNm']):
  count = 0
  for index in film:
    try:
      counts=movie_list.loc['{}'.format(index)]['audiCnt']
      count += counts
    except:
      pass
  df = pd.DataFrame({'publisher':[publisher],'counts':[count]}, columns = ['publisher','counts'])
  count_publi=pd.concat([count_publi,df],ignore_index = True)

In [ ]:
count_publi.iloc[2]

publisher                                            씨제이이앤엠(주)
counts       좋은 친구들    207616052
좋은 친구들    207616052
좋은 친구들...
Name: 씨제이이앤엠(주), dtype: object

In [ ]:
movie_list

                 audiCnt   movieCd  ...  prod_2_code  prod_2_name
#살아있다            1903641  20193069  ...   20204221.0  (주)퍼스펙티브픽쳐스
0.0MHz            137232  20188144  ...          NaN          NaN
1789, 바스티유의 연인들     3839  20140121  ...          NaN          NaN
1987             7231224  20170590  ...          NaN          NaN
1급기밀              217735  20168161  ...   20154688.0     (주)미디어모굴
...                  ...       ...  ...          ...          ...
히야                 21405  20161722  ...   20169148.0    (주)더재미팩토리
히어로                22902  20136059  ...   20139977.0    (주)프리윌컴퍼니
히트                110057  20112221  ...          NaN          NaN
히트맨              1929804  20192101  ...          NaN          NaN
힘을 내요, 미스터 리     1180258  20187322  ...   20160941.0   (주)덱스터스튜디오

[667 rows x 22 columns]

In [ ]:
count_df.index = count_df['actor']

In [ ]:
count_df=count_df.drop_duplicates('actor')

In [ ]:
final_actor = pd.DataFrame()
for ac1,ac2,ac3,ac4,ac5,ind in zip(movie_list['actor1'],movie_list['actor2'],movie_list['actor3'],movie_list['actor4'],movie_list['actor5'],movie_list.index):
  count = 0
  n = 0
  try:
    counts=count_df.loc['{}'.format(ac1)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_df.loc['{}'.format(ac2)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_df.loc['{}'.format(ac3)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_df.loc['{}'.format(ac4)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_df.loc['{}'.format(ac5)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  if count == 0:
    df = pd.DataFrame({'movie':[ind],'actorscore':[count]}, columns = ['movie','actorscore'])
    final_actor=pd.concat([final_actor,df],ignore_index = True)
  else:
    count=count/n
    df = pd.DataFrame({'movie':[ind],'actorscore':[count]}, columns = ['movie','actorscore'])
    final_actor=pd.concat([final_actor,df],ignore_index = True)

In [ ]:
final_actor.to_excel(excel_writer='final_actor.xlsx')

In [ ]:
final_actor

               movie   actorscore
0              #살아있다  29562800.00
1             0.0MHz   5244460.20
2    1789, 바스티유의 연인들         0.00
3               1987  62459159.25
4               1급기밀  13674708.00
..               ...          ...
662               히야   9813652.20
663              히어로  21668024.60
664               히트  32018189.40
665              히트맨   7734597.00
666     힘을 내요, 미스터 리  14156721.60

[667 rows x 2 columns]

In [ ]:
count_dir.index = count_dir['director']

In [ ]:
count_dir=count_dir.drop_duplicates('director')

In [ ]:
final_director = pd.DataFrame()
for dr1,dr2,ind in zip(movie_list['director1'],movie_list['director2'],movie_list.index):
  count = 0
  n = 0
  try:
    counts=count_dir.loc['{}'.format(dr1)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_dir.loc['{}'.format(dr2)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  if count == 0:
    df = pd.DataFrame({'movie':[ind],'directorscore':[count]}, columns = ['movie','directorscore'])
    final_director=pd.concat([final_director,df],ignore_index = True)
  else:
    count=count/n
    df = pd.DataFrame({'movie':[ind],'directorscore':[count]}, columns = ['movie','directorscore'])
    final_director=pd.concat([final_director,df],ignore_index = True)

In [ ]:
final_director.to_excel(excel_writer='final_director.xlsx')

In [ ]:
count_produ.index = count_produ['producer']

In [ ]:
count_produ=count_produ.drop_duplicates('producer')

In [ ]:
final_produ = pd.DataFrame()
for pd1,pd2,ind in zip(movie_list['producer1'],movie_list['producer2'],movie_list.index):
  count = 0
  n = 0
  try:
    counts=count_produ.loc['{}'.format(pd1)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_produ.loc['{}'.format(pd2)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  if count == 0:
    df = pd.DataFrame({'movie':[ind],'producerscore':[count]}, columns = ['movie','producerscore'])
    final_produ=pd.concat([final_produ,df],ignore_index = True)
  else:
    count=count/n
    df = pd.DataFrame({'movie':[ind],'producerscore':[count]}, columns = ['movie','producerscore'])
    final_produ=pd.concat([final_produ,df],ignore_index = True)

In [ ]:
final_produ

               movie  producerscore
0              #살아있다     18098788.0
1             0.0MHz       137232.0
2    1789, 바스티유의 연인들         6282.0
3               1987      7231224.0
4               1급기밀      1910821.0
..               ...            ...
662               히야        21405.0
663              히어로       664105.5
664               히트       110057.0
665              히트맨      7582840.0
666     힘을 내요, 미스터 리     28387476.5

[667 rows x 2 columns]

In [ ]:
final_produ.to_excel(excel_writer='final_producer.xlsx')

In [ ]:
count_publi.index = count_publi['publisher']
count_publi=count_publi.drop_duplicates('publisher')
final_publi = pd.DataFrame()
for pb1,pb2,ind in zip(movie_list['publisher1_name'],movie_list['publisher2_name'],movie_list.index):
  count = 0
  n = 0
  try:
    counts=count_publi.loc['{}'.format(pb1)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  try:
    counts=count_publi.loc['{}'.format(pb2)]['counts']
    count += int(counts)
    n += 1
  except:
    pass
  if count == 0:
    df = pd.DataFrame({'movie':[ind],'pubilsherscore':[count]}, columns = ['movie','pubilsherscore'])
    final_publi=pd.concat([final_publi,df],ignore_index = True)
  else:
    count=count/n
    df = pd.DataFrame({'movie':[ind],'pubilsherscore':[count]}, columns = ['movie','pubilsherscore'])
    final_publi=pd.concat([final_publi,df],ignore_index = True)

In [ ]:
count_publi =

좋은 친구들    207616052
좋은 친구들    207616052
좋은 친구들    207616052
좋은 친구들    207616052
Name: audiCnt, dtype: int64

In [ ]:
count_publi = pd.read_csv('/content/drive/MyDrive/count_publi.csv')

In [ ]:
final_publi

               movie  pubilsherscore
0              #살아있다     126322467.0
1             0.0MHz        214707.0
2    1789, 바스티유의 연인들             0.0
3               1987     207616052.0
4               1급기밀      13466950.0
..               ...             ...
662               히야             0.0
663              히어로             0.0
664               히트     157297777.0
665              히트맨     126322467.0
666     힘을 내요, 미스터 리     157297777.0

[667 rows x 2 columns]

In [ ]:
final_publi.to_excel(excel_writer='final_punlisher.xlsx')

In [ ]:
final_df=pd.concat([final_actor,final_director,final_produ,final_publi],axis=1)

In [ ]:
final_df.to_excel(excel_writer='final_df.xlsx')

In [ ]:
del final_df['movie']

In [ ]:
final_df

      actorscore  directorscore  producerscore  pubilsherscore
0    29562800.00      1903641.0     18098788.0     126322467.0
1     5244460.20       524641.0       137232.0        214707.0
2           0.00        10121.0         6282.0             0.0
3    62459159.25      9625015.0      7231224.0     207616052.0
4    13674708.00       217735.0      1910821.0      13466950.0
..           ...            ...            ...             ...
662   9813652.20            0.0        21405.0             0.0
663  21668024.60       942944.0       664105.5             0.0
664  32018189.40       110057.0       110057.0     157297777.0
665   7734597.00      2459366.0      7582840.0     126322467.0
666  14156721.60      9348057.0     28387476.5     157297777.0

[667 rows x 4 columns]

In [ ]:
final_df.index = movie_list.index

In [ ]:
final_list=pd.concat([movie_list, final_df],axis= 1)

In [ ]:
del final_list['director1']

In [ ]:
del final_list['director2']
del final_list['actor1']
del final_list['actor2']
del final_list['actor3']
del final_list['actor4']
del final_list['actor5']
del final_list['producer1']
del final_list['producer2']
del final_list['publisher1_code']
del final_list['publisher2_code']
del final_list['publisher1_name']
del final_list['publisher2_name']
del final_list['prod_1_code']
del final_list['prod_2_code']
del final_list['prod_1_name']
del final_list['prod_2_name']

In [ ]:
final_list['openDt']=final_list['openDt'].map(lambda x : int('{}'.format(x)[4]+'{}'.format(x)[5]))

In [ ]:
final_list['showTypes']=final_list['showTypes'].map(lambda x : x.split(':')[1])

In [ ]:
final_list['showTypes']=final_list['showTypes'].map(lambda x : x.split(',')[0])

In [ ]:
del final_list['movieCd']

In [ ]:
final_list

                 audiCnt  showTm  ...  producerscore pubilsherscore
#살아있다            1903641      97  ...     18098788.0    126322467.0
0.0MHz            137232     101  ...       137232.0       214707.0
1789, 바스티유의 연인들     3839     128  ...         6282.0            0.0
1987             7231224     129  ...      7231224.0    207616052.0
1급기밀              217735     100  ...      1910821.0     13466950.0
...                  ...     ...  ...            ...            ...
히야                 21405     108  ...        21405.0            0.0
히어로                22902      98  ...       664105.5            0.0
히트                110057     102  ...       110057.0    157297777.0
히트맨              1929804     109  ...      7582840.0    126322467.0
힘을 내요, 미스터 리     1180258     110  ...     28387476.5    157297777.0

[667 rows x 8 columns]

In [ ]:
count_blog=pd.read_csv('/content/drive/MyDrive/NAVER 블로그 수.csv')

In [ ]:
count_blog.index = count_blog['Title']

In [ ]:
del count_blog['Unnamed: 0']
del count_blog['Title']

In [ ]:
count_blog

                   total
Title
#살아있다             407037
0.0MHz              2640
1789, 바스티유의 연인들      625
1987              851653
1급기밀                9578
...                  ...
히야                 84861
히어로               910123
히트               1680688
히트맨                67622
힘을 내요, 미스터 리       10612

[659 rows x 1 columns]

In [ ]:
final_list=final_list.join(count_blog, how='left')

In [ ]:
final_list

                 audiCnt  showTm  ...  pubilsherscore    total
#살아있다            1903641      97  ...     126322467.0   407037
0.0MHz            137232     101  ...        214707.0     2640
1789, 바스티유의 연인들     3839     128  ...             0.0      625
1987             7231224     129  ...     207616052.0   851653
1급기밀              217735     100  ...      13466950.0     9578
...                  ...     ...  ...             ...      ...
히야                 21405     108  ...             0.0    84861
히어로                22902      98  ...             0.0   910123
히트                110057     102  ...     157297777.0  1680688
히트맨              1929804     109  ...     126322467.0    67622
힘을 내요, 미스터 리     1180258     110  ...     157297777.0    10612

[683 rows x 9 columns]

In [ ]:
final_list.to_excel(excel_writer='final_list.xlsx')

In [ ]:
final_list.drop_duplicates('audiCnt')

                 audiCnt  showTm  ...  pubilsherscore    total
#살아있다            1903641      97  ...     126322467.0   407037
0.0MHz            137232     101  ...        214707.0     2640
1789, 바스티유의 연인들     3839     128  ...             0.0      625
1987             7231224     129  ...     207616052.0   851653
1급기밀              217735     100  ...      13466950.0     9578
...                  ...     ...  ...             ...      ...
히야                 21405     108  ...             0.0    84861
히어로                22902      98  ...             0.0   910123
히트                110057     102  ...     157297777.0  1680688
히트맨              1929804     109  ...     126322467.0    67622
힘을 내요, 미스터 리     1180258     110  ...     157297777.0    10612

[655 rows x 9 columns]